@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    font-family: "Inter", sans-serif;
}

section{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

#main{
    background-image: url("img/bgMAIN.png");
}

#about{
    background-image: url("img/bgABOUT.png");
}

#skills{
    background-image: url("img/bgSKILLS.png");
}

#works{
    background-image: url("img/bgWORKS.png");
}

#comments{
    background-image: url("img/bgCOMMENTS.png");
}

.main-block,
.about-block
.skills-block,
.works-block,
.comments-block{
display: flex;
align-items: center;
justify-content: center;
min-height: 70vh;
}

.main-block{
    flex-direction: column;
    height: 100vh;
    
}
.main_content{
    background-image: url(img/form1.png);
    min-height: 100px;
    min-width: 500px;
    background-size: cover;
    padding: 30px 0px 0px 100px;
    /* flex-direction: column; */
    /* align-items: center; */
    position: relative;
    border-radius: 20px;
}

.main-block-button{
    margin: 15px;
    padding: 10px;
    background-color: aqua;
    border-radius: 20px;
}
.author-name{
    font-size: 60px;
}